* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.footerBox {
  width: 100vw;
  height: 188px;
  background-color: #f7f8fa;
}
.footerBox.unfixed {
  position: absolute;
  bottom: 0;
}

.footerInner {
  width: 1120px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-family: 'NotoSansKR-B', sans-serif;
  color: #191a20;
  padding-top: 36px;
}

.csTitle {
  font-size: 14px;
}

.csTitle img {
  margin-left: 2px;
}
.csContact {
  font-size: 24px;
}

.csWorkTime {
  font-family: 'NotoSansKR-R', sans-serif;
  font-size: 14px;
}

.okteam {
  font-family: 'NotoSansKR-R', sans-serif;
  color: #8c8d96;
  font-size: 14px;
  padding-top: 24px;
}
