* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 50px;
}

.listimg {
  width: 170px;
  height: 280px;
}

.listName {
  padding-top: 10px;
  font-family: 'NotoSansKR-B', sans-serif;
  font-size: 14px;
}
